<h3><a class="btn btn-secpndary" href='/employee'>Create Employee</a></h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Fullname</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.fullName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mobile}}</td>
                <td>
                    <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" area-hidden='true'></i>Edit</a>
                    <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this employee?');"><i class="fa fa-trash fa-lg" area-hidden='true'></i>Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>